ul {
    color: rgba(0, 0, 0, 0.6);
    list-style: none;
    font-size: 17px;
    padding-left: 5px;
    margin-bottom: 0px;
}
#description:first-letter {
    text-transform: uppercase;
}

.weather-app {
    padding: 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.weather-app-outline {
    max-width: 600px;
    margin: 40px auto;
}

.city {
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #2155CD;
}

.city:first-letter {
    text-transform: uppercase;
}

.gps {
    display: inline;
    border-radius: 5px;
    background-color: #79DAE8;
    border-color: #0AA1DD;
    border-width: 5px;
}

.gps:hover {
    background-color: #0AA1DD;
    border: none;
    border-width: 5px;
    border-color: #79DAE8;
    border-style: solid;
}

#temperature-current {
    color: #2155CD;
    font-size: 50px;
    line-height: 1.5;
    font-weight: 800;
    vertical-align: middle;
}

.units {
    outline: none;
    vertical-align: top;
    line-height: 1.5;
    font-size: 19px;
    color: #000;
    }

.active {
  color:#2155CD;
  font-weight: bold;
  cursor: default;
}

a{
    text-decoration: none;
    color: #000;
}

.weather-forecast {
    color: rgba(0, 0, 0, 0.9);
    list-style: none;
    font-size: 16px;
}

.weather-forecast-icon {
    padding: 0 10px;
}

.weather-forecast-temparature-min {
    opacity: 0.7;
}